src/main/app/rollbackexception.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="1234" doc:name="HTTP Listener Configuration"/>
    <flow name="rollbackexceptionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rollback" doc:name="HTTP"/>
        <set-variable variableName="list" value="#[new java.util.ArrayList()]" doc:name="arrayList"/>
        <expression-component doc:name="Expression"><![CDATA[list.add("First");
/*list.add("Second");
list.add("Third");
list.add("Fourth");*/]]></expression-component>
        <set-session-variable variableName="x" value="1" doc:name="Session Variable"/>
        <foreach collection="#[flowVars.list]" doc:name="For Each">
            <logger message="In forlook before VM #[sessionVars.x]" level="INFO" doc:name="Logger"/>
            <vm:outbound-endpoint exchange-pattern="one-way" path="rollback" doc:name="VM">
                <ee:multi-transaction action="ALWAYS_BEGIN"/>
            </vm:outbound-endpoint>
            <logger message="In forlook after VM #[sessionVars.x]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
    <flow name="rollbackexceptionFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="rollback" doc:name="VM">
            <ee:multi-transaction action="ALWAYS_BEGIN"/>
        </vm:inbound-endpoint>
        <logger message="Before choice #[sessionVars.x]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[ sessionVars.x == 1]">
                <set-session-variable variableName="x" value="2" doc:name="Session Variable"/>
                <logger message="#[payload['sample']]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Successfully Executedddddddddd!!!!!!!!!!!!!!!!" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <rollback-exception-strategy maxRedeliveryAttempts="5" doc:name="Rollback Exception Strategy">
            <logger message="In rollback exception Strategy  #[sessionVars.x]" level="INFO" doc:name="Logger"/>
            <on-redelivery-attempts-exceeded>
                <logger message="Redelivery Exhausted!!!!!!!!!!!!!!!!!" level="INFO" doc:name="Logger"/>
            </on-redelivery-attempts-exceeded>
        </rollback-exception-strategy>
    </flow>
</mule>
